{**
 * Layout for tab of Session Debug panel
 *
 * @author Pavel Železný <pavel.zelezny@socialbakers.com>
 *
 * @param string $basePath Path to directory where compnent is situated
 *}
<span title="Panel to show information about cache and session content">
	<img n:src="{$basePath}/templates/logo.png" />
	<strong>Session Panel</strong>
</span>